header{
      position: relative;
      top: 0;
      display: flex;
      background-color: #c4ff0e;
      width: 100vw;
      justify-content: space-between;
      padding: 0 15px;
}

.logo{
      width: 262px;
      height: 72px;
      background-image: url(../../images/uralsons.png);
}