.add_task_menu_wrapper{
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;

      .add_task_menu_container{
            width: 70%;
            height: 90%;
            background-color: whitesmoke;
            border-radius: 20px;
            position: relative;


            .close_btn{
                  width: 3.5rem;
                  height: 3.5rem;
                  cursor: pointer;
                  transform: rotate(45deg);
                  position: absolute;
                  top: 0px;
                  right: 0px;
            }
      
            .close_btn::before{
                  content: "+";
                  display: flex; flex-direction: row; align-items: center; justify-content: center;
                  position: relative;
                  height: 25px;
                  width: 25px;
                  font-size: 70px;
                  line-height: 100px;
                  text-align: center;
                  color: black;
                  font-family: serif; font-weight: normal;
                  margin: 0 auto;
                  top: 50%;
                  transform: translate(0, -50%);
            }

            .add_task_menu{
                  margin: 15px 20px;
                  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

                  h2{
                        font-size: 1.8rem;
                        font-family: "Main_font";
                  }

                  label{
                        display: block;
                        margin: 10px 0px 5px 0px;
                  }

                  .top_adding_task{
                        display: flex;
                        justify-content: space-between;
                        
                        .top_left_adding_task_group{
                              display: flex;
                              align-items: center;

                              .calendar_place_holder{
                                    position: relative;

                                    .calendar_wrapper{
                                          position: fixed;
                                          // background-color: aqua;
                                          width: 100vw;
                                          height: 100vh;
                                          top: 0;
                                          left: 0;
                                          z-index: 9;
                                    }

                                    .react-calendar {
                                          border-radius: 15px;
                                          width: 300px;
                                          max-width: 100%;
                                          position: fixed;
                                          z-index: 10;
                                          transform: translate(-100%, 20px);
                                    }
                              }

                              .select_dead_line_btn{
                                    background-color: gainsboro;
                                    padding: 5px;
                                    text-align: center;
                                    min-width: 90px;
                                    border-radius: 10px;
                                    border: 1px solid gray;
                                    max-height: 35px;
                                    color: rgb(100, 100, 100);
                                    // text-decoration: underline;
                                    cursor: pointer;
                              }
                        }
                  }

                  .add_task_input{
                        font-size: 1em;
                        min-width: 15rem;
                        display: block;
                        max-width: 30%;
                        margin: 0;
                        padding: 0.375rem 0.75rem;
                        border-radius: 15px;
                        border: solid 1px black;
                        outline: none;
                        transition: box-shadow 0.15s ease-in-out;
                    }
                
                    .add_task_input::placeholder{
                        color: rgb(162, 162, 162);
                    }
                    
                    .add_task_input:focus{
                        border: solid 1px black;
                        box-shadow: 0 0 0 0.3rem rgba(158, 158, 158, 0.25);
                        border: solid 1px rgb(98, 98, 98);
                    }

                    #description_input{
                        width: 50%;
                        max-width: 90%;
                    }

                    textarea{
                        resize: none;
                        font-family:Helvetica,Arial,sans-serif;
                        font-size:14px;
                    }
            }
      }

}