.dropdown_list_placeholder{
    position: relative;
}

.dropdown_btn{
    padding: 5px;
    font-size: 1rem;
    max-height: 35px;
    border-radius: 10px;
    text-align: center;
    min-width: 97px;
    cursor: pointer;
    background-color: gainsboro;
    border: 1px solid gray;
    color: rgb(100, 100, 100);
    min-height: 31px;
    margin: 0 20px;
}

#ligth{
    background-color: rgb(188, 255, 188);
    border: 1px solid green;
    color: rgb(0, 110, 0);
}

#medium{
    background-color: rgb(254, 255, 179);
    border: 1px solid orange;
    color: rgb(179, 116, 0);
}

#high{
    background-color: rgb(255, 151, 151);
    border: 1px solid red;
    color: rgb(120, 0, 0);
}


.dropdown_list{
    position: absolute;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    left: 20px;

    .task_priority{
        padding: 2px 5px;
        font-size: 1.2rem;
        max-height: 31px;
        border-radius: 10px;
        text-align: center;
        min-width: 97px;
        margin: 8px 0px 0px 0px;
        cursor: pointer;
        background-color: rgb(188, 255, 188);
        border: 1px dotted green;
        color: rgb(0, 110, 0);
    }

    
    .task_priority_ligth{
            background-color: rgb(188, 255, 188);
            border: 1px dotted green;
            color: rgb(0, 110, 0);
    }
    
    .task_priority_high{
            background-color: rgb(255, 151, 151);
            border: 1px dotted red;
            color: rgb(120, 0, 0);
    }
    
    .task_priority_medium{
            background-color: rgb(254, 255, 179);
            border: 1px dotted orange;
            color: rgb(179, 116, 0);
    }
}