.proj_menu_wrapper{
      width: calc(100vw - 40px);
      height: calc(100vh - 72px);
      margin: 0px 20px;
  
      .proj_menu_header{
          display: flex;
          width: 100%;
          justify-content: space-between;
          margin: 15px 0px 0px 0px;
  
          h2{
              font-family: "Main_font";
              font-size: 2rem;
          }

          .add_proj_btn{
            height: 50px;
            // width: 50px;
            display: flex;
            background-color: rgb(76, 213, 92);
            cursor: pointer;
            border-radius: 15px;
            align-items: center;
            padding: 0 15px;
            color: white;
            font-family: "Main_font";
            font-size: 1.3rem;
          }
      }
  }