.view_task_menu_wrapper{
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;

      .view_task_menu_container{
            width: 70%;
            height: 90%;
            background-color: whitesmoke;
            border-radius: 20px;
            position: relative;

            .close_btn{
                  width: 3.5rem;
                  height: 3.5rem;
                  cursor: pointer;
                  transform: rotate(45deg);
                  position: absolute;
                  top: 0px;
                  right: 0px;
            }
      
            .close_btn::before{
                  content: "+";
                  display: flex; flex-direction: row; align-items: center; justify-content: center;
                  position: relative;
                  height: 25px;
                  width: 25px;
                  font-size: 70px;
                  line-height: 100px;
                  text-align: center;
                  color: black;
                  font-family: serif; font-weight: normal;
                  margin: 0 auto;
                  top: 50%;
                  transform: translate(0, -50%);
            }

            .view_task_menu{
                  width: calc(100% - 40px);
                  height: calc(100% - 30px);
                  margin: 15px 20px;
                  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


                  h2{
                        font-family: "Main_font";
                        font-size: 2rem;
                  }
                  
                  .date_of_deadline{
                        top: 10px;
                        right: 10px;
                        background-color: gainsboro;
                        padding: 5px;
                        border-radius: 10px;
                        border: 1px dotted gray;
                  }

                  .task_description_container{
                        margin: 20px 0px;
                        font-size: 1.1rem;
                        max-width: 50%;
                        background-color: rgb(237, 237, 237);
                        border-radius: 15px;
                        border: 1px dashed gray;

                        .task_description_text{
                              padding: 0 10px;
                        }

                        h3{
                              margin: 10px 5px;
                              font-family: "Main_font";
                        }
                  }
            }

            .task_priority{
                  padding: 5px;
                  font-size: 1.2rem;
                  max-height: 35px;
                  border-radius: 10px;
                  text-align: center;
                  min-width: 50px;
                  max-width: 30%;
                  margin: 0 0 0 15px;
            }
            
            .task_priority_ligth{
                  background-color: rgb(188, 255, 188);
                  border: 1px dotted green;
            }
            
            .task_priority_higth{
                  background-color: rgb(255, 151, 151);
                  border: 1px dotted red;
            }
            
            .task_priority_medium{
                  background-color: rgb(254, 255, 179);
                  border: 1px dotted orange;
            }

            .task_text{
                  width: calc(100%);
                  height: calc(100% - 225px);
                  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                  border-radius: 15px;
                  border: 1px dashed gray;
                  background-color: rgb(237, 237, 237);
                  margin: 0px 0px 10px 0;
            }
      }
}

.task_header{
      display: flex;
}